html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 5rem;
    margin-bottom: 100px;
}

span.field-validation-error{
    display: block;
}

.oneline-comment {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}