@page
@model MeuPonto.Pages.Pontos.Comprovantes.GuardarModel

@{
    ViewData["Title"] = "Guardar Comprovante de Ponto";

    ViewData["Enctype"] = "multipart/form-data";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="/Pontos/Index">Pontos</a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Comprovantes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Guardar</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">Novo</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">
                <i class="bi bi-qr-code"></i>
                Guardar Comprovante
            </a>
        </li>
    </ul>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row mb-3">
    <label asp-for="Imagem" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <div class="input-group">
            <input asp-for="Imagem" class="form-control">
            <button class="btn btn-outline-secondary" name="command" value="Escanear">Escanear</button>
        </div>
        <span asp-validation-for="Imagem" class="text-danger"></span>
    </div>
</div>
<div class="row mb-3">
    <label asp-for="Comprovante.TipoImagemId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="Comprovante.TipoImagemId" disabled class="form-select" asp-items="Html.GetEnumSelectList<TipoImagemEnum>()"></select>
        <input asp-for="Comprovante.TipoImagemId" type="hidden" />
    </div>
</div>
<div class="card">
    <div class="card-header">
        @Html.DisplayNameFor(model => model.Comprovante.Ponto)
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <label asp-for="Ponto.ContratoId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="Ponto.ContratoId" class="form-select" asp-items="ViewBag.ContratoId"></select>
                <span asp-validation-for="Ponto.ContratoId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Ponto.DataHora" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Ponto.DataHora" class="form-control" />
                <span asp-validation-for="Ponto.DataHora" class="text-danger"></span>
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-3 pt-0">Momento</legend>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Ponto.MomentoId" id="Ponto_MomentoId_Entrada" value="1">
                    <label class="form-check-label" for="Ponto_MomentoId_Entrada">
                        Entrada
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Ponto.MomentoId" id="Ponto_MomentoId_Saida" value="2">
                    <label class="form-check-label" for="Ponto_MomentoId_Saida">
                        Saída
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="Ponto.MomentoId" id="Ponto_MomentoId_Errado" value="3">
                    <label class="form-check-label" for="Ponto_MomentoId_Errado">
                        Errado
                    </label>
                </div>
                <span asp-validation-for="Ponto.MomentoId" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-3 pt-0">Pausa</legend>
            <div class="col-sm-9">
                <div class="btn-group" role="group" aria-label="Pausa">
                    <input type="radio" class="btn-check" name="Ponto.PausaId" id="Ponto_PausaId_Almoco" value="1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Ponto_PausaId_Almoco" title="Almoço">
                        <i class="bi bi-egg-fried"></i>
                    </label>
                    <input type="radio" class="btn-check" name="Ponto.PausaId" id="Ponto_PausaId_CafeLanche" value="2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Ponto_PausaId_CafeLanche" title="Café/Lanche">
                        <i class="bi bi-cup-hot"></i>
                    </label>
                    <input type="radio" class="btn-check" name="Ponto.PausaId" id="Ponto_PausaId_Banheiro" value="3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Ponto_PausaId_Banheiro" title="Banheiro">
                        <i class="bi bi-badge-wc"></i>
                    </label>
                    <input type="radio" class="btn-check" name="Ponto.PausaId" id="Ponto_PausaId_ConversaReuniao" value="4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Ponto_PausaId_ConversaReuniao" title="Conversa/Reunião">
                        <i class="bi bi-chat"></i>
                    </label>
                    <input type="radio" class="btn-check" name="Ponto.PausaId" id="Ponto_PausaId_Telefonema" value="5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Ponto_PausaId_Telefonema" title="Telefonema">
                        <i class="bi bi-telephone"></i>
                    </label>
                    <input type="radio" class="btn-check" name="Ponto.PausaId" id="Ponto_PausaId_Generica" value="6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Ponto_PausaId_Generica" title="Genérica">
                        <i class="bi bi-pause-fill"></i>
                    </label>
                </div>
                <span asp-validation-for="Ponto.PausaId" class="text-danger"></span>
            </div>
        </fieldset>
        <div class="row mb-3">
            <label asp-for="Ponto.Observacao" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <textarea asp-for="Ponto.Observacao" class="form-control"></textarea>
                <span asp-validation-for="Ponto.Observacao" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

@section FormActions {
    <input type="hidden" asp-for="RefererUrl" />
    <button type="submit" value="Salvar" class="btn btn-primary">
        Salvar
    </button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
