@page
@model MeuPonto.Areas.MicrosoftIdentity.Pages.Account.ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h2 class="text-danger">Ops! Parece que aconteceu algum imprevisto.</h2>

@if (Model.ShowRequestId)
{
    <p class="p-4">
        <strong>Código da Solicitação:</strong> <code>@Model.RequestId</code>
    </p>

    <h3>Suporte</h3>
    <p>
        Você pode enviar uma mensagem para o <strong>Administrador</strong> do site para que ele possa investigar o problema.
    </p>
    <p>
        <a href="mailto:mardsystems@gmail.com?subject=MeuPonto - Suporte - @Model.RequestId" target="_blank" class="btn btn-primary">
            <i class="bi bi-envelope"></i>
            Avisar o Administrador
        </a>
    </p>
    <p>
        * Já incluímos o código da solicitação no assunto do email.
    </p>
}
else
{
    <h3>Suporte</h3>
    <p>
        Aconteceu mesmo algum problema?
    </p>
    <p>
        <a href="mailto:mardsystems@gmail.com?subject=MeuPonto - Suporte" target="_blank" class="btn btn-primary">
            <i class="bi bi-envelope"></i>
            Fale com o Administrador
        </a>
    </p>
}
