@page
@model MeuPonto.Areas.MicrosoftIdentity.Pages.Account.SignedOutModel
@{
}

<h2>Você foi desconectado</h2>

<p>
    Se quiser entrar novamente <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">clique aqui</a>.
</p>
