@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Privacidade</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<p></p>
