@page
@model MeuPonto.Pages.Contratos.Empregadores.CriarModel

@{
    ViewData["Title"] = "Criar Empregador";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
            <li class="breadcrumb-item"><a asp-page="/Contratos/Index">Contratos</a></li>
            <li class="breadcrumb-item"><a asp-page="./Index">Empregadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar</li>
        </ol>
    </nav>
}

@section Title {
    @ViewData["Title"] <span class="badge bg-secondary">Novo</span>
}

@section CardHeader {
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">
                <i class="bi bi-plus-circle"></i>
                Criar Novo
            </a>
        </li>
    </ul>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row mb-3">
    <label asp-for="CadastroEmpregador.Nome" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="CadastroEmpregador.Nome" class="form-control" />
        <span asp-validation-for="CadastroEmpregador.Nome" class="text-danger"></span>
    </div>
</div>

@section FormActions {
    <input type="hidden" asp-for="RefererUrl" />
    <button type="submit" value="Salvar" class="btn btn-primary">
        Salvar
    </button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
