@page
@model MeuPonto.Modules.Perfis.Empregadores.EditarModel

@{
    ViewData["Title"] = "Editar Empregador";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index"><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item"><a asp-page="/Perfis/Index">Perfis</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index">Empregadores</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>

<h1>@ViewData["Title"] <span class="badge bg-secondary">@Html.DisplayFor(model => model.Empregador.Nome)</span></h1>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="me-1">
                <a class="btn btn-primary" asp-page="./Criar">
                    <i class="bi bi-plus-circle me-1"></i>
                    Criar Nova
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Detalhar" asp-route-id="@Model.Empregador?.Id">
                    <i class="bi bi-card-text"></i>
                    <span class="d-none d-sm-inline">Detalhar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">
                    <i class="bi bi-pencil"></i>
                    Editar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" asp-page="./Excluir" asp-route-id="@Model.Empregador?.Id">
                    <i class="bi bi-trash"></i>
                    <span class="d-none d-sm-inline">Excluir</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Empregador.Nome" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Empregador.Nome" class="form-control" />
                    <span asp-validation-for="Empregador.Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Empregador.Cnpj" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Empregador.Cnpj" class="form-control" />
                    <span asp-validation-for="Empregador.Cnpj" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Empregador.InscricaoEstadual" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Empregador.InscricaoEstadual" class="form-control" />
                    <span asp-validation-for="Empregador.InscricaoEstadual" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <label asp-for="Empregador.Endereco" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Empregador.Endereco" class="form-control" />
                    <span asp-validation-for="Empregador.Endereco" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Empregador.Id" />
            <input type="hidden" asp-for="Empregador.Version" />
            <button type="submit" value="Salvar" class="btn btn-primary">
                <i class="bi bi-save"></i>
                Salvar
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
